.digit {
    opacity: 0;
    -webkit-transform: translateX(-40px);
         -moz-transform: translateX(-40px);
            -ms-transform: translateX(-40px);
             -o-transform: translateX(-40px);
                    transform: translateX(-40px);
    -webkit-transition: all 0.6s ease-out;
         -moz-transition: all 0.6s ease-out;
            -ms-transition: all 0.6s ease-out;
             -o-transition: all 0.6s ease-out;
                    transition: all 0.6s ease-out;
}
.digit.visible {
    opacity: 1;
    -webkit-transform: none;
         -moz-transform: none;
            -ms-transform: none;
             -o-transform: none;
                    transform: none;
}
.digit:nth-child(2) {
    margin-top: 50px;
}
.digit:nth-child(3) {
    margin-top: 100px;
}
.digit:nth-child(4) {
    margin-top: 150px;
}
.digit:nth-child(5) {
    margin-top: 200px;
}